@import "../../../vars.scss";
.SecOferta {
  width: 200px;
  height: 80px;
  background-color: $MainColor;
  color: $white;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  border-radius: 10px;
  &__nameCupon {
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
  }
  &__precio {
    display: flex;
    gap: 10px;
  }
}
