@import "../../vars.scss";
.SecMainHome {
  padding: 10px 5%;
  .textHeaderMain {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 30px;
    .linkProductsHeader {
      color: $MainColor;
      font-weight: 600;
    }
  }
  .SliderSecOfertas {
    margin-bottom: 20px;
  }
  .SecProductsSlider {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20%;
  }
}

@media (min-width: 992px) {
  .SecMainHome {
    .SecProductsSlider {
      margin: 10% 0;
    }
  }
}
